<!DOCTYPE html>
<html>
<head>
	<title>Hellow World from SJSU-{{ (ansible_hostname[-1] |int)-1 }}</title>
</head>
<body>
	<h1>Hello World from SJSU-{{ (ansible_hostname[-1] | int)-1 }}</h1>
</body>
</html>
